

* { margin: 0; padding: 0; box-sizing: border-box; }
html,
body{
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat Regular', sans-serif;
	background: #fff;
}
body { font: 13px Helvetica, Arial; }
form { background: #000; 
	   padding: 10px 0 10px 0px; 
	   position: fixed; 
	   bottom: 0; 
	   width: 100%; 
	   z-index: 9999;
	}
form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { 
	padding: 10px 10px;
	background: #fff;
 }
#messages li:nth-child(odd) { background: #eee; }
.container-fluid {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow-x: hidden;
}
.navbar {
	background: #000 url(../img/BitsieChat_brand_bg.jpg) repeat-y;
	border-radius: 0px;
	border: 0px;
	margin-bottom: 0;
	background-position: 0px 5px;
}
.navbar .navbar-brand {
	font-family: 'Montserrat Bold', sans-serif;	
	font-weight: bold;
	color: white;
	padding-left: 35px;
	display: block;
	margin-top: 5px;
}
.navbar .navbar-brand span {
	color: #ececec;
	margin-right: 30px;
}
.navbar .navbar-right {
	margin: 0px 30px 0 0;
	overflow: hidden;
}
.navbar .navbar-right li.person a{
	padding-right: 2px;
	padding-left: 2px;
}
.message-container {
}
.btn {
	font-family: 'Montserrat Bold', sans-serif;
	text-transform: uppercase;
	color: white;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background: #333;
}
.navbar-default .navbar-nav>li>a:hover {
	background: #333;
}
li.person {
	margin-left: 5px;
}
li.encryption {
	margin-left: 25px;
}
li.encryption.active {
	background: #333;
}
.encryption-menu {
	background: #333;
	position: absolute;
	width: 25%;
	display: none;
	right: 0;
	top: 59px;
	padding: 10px;
	z-index: 9999;
	color: white;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
}
.encryption-menu input {
	color: black;
}
.encryption-menu h4 {
	font-size: 1.2em;
}
.encryption-menu button {
	margin-top: 10px;
}