* { margin: 0; padding: 0; box-sizing: border-box; }
html,
body{
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat Regular', sans-serif;
	background: #fff;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}
.modal {
display: block;
}

.modal-backdrop {
  bottom: 0;
}

body { font: 13px Helvetica, Arial; }
#form-chat { background: #000; 
	   padding: 10px 0 10px 0px; 
	   position: fixed; 
	   bottom: 0; 
	   width: 100%; 
	   z-index: 9999;
	}
form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
#messages { 
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: 80%;
	min-height: 80%;
	overflow-y: scroll;
	overflow-x: hidden;
}
#messages li { 
	padding: 10px 10px;
	background: #fff;
 }
#messages li:nth-child(odd) { background: #eee; }
.container-fluid {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow-x: hidden;
}
.navbar {
	background: #000 url(../img/BitsieChat_brand_bg.jpg) repeat-y;
	border-radius: 0px;
	border: 0px;
	margin-bottom: 0;
	background-position: 0px 0px;
}

.navbar-default .navbar-collapse{
	background: none;
}
.navbar .navbar-brand {
	font-family: 'Montserrat Bold', sans-serif;	
	font-weight: bold;
	color: white;
	padding-left: 35px;
	display: block;
	margin-top: 5px;
}

.navbar .navbar-brand span {
	color: white;
	margin-right: 35px;
}
.navbar .navbar-brand:hover {
	color: #f7931a;
}
.navbar .navbar-brand:hover span {
	color: white;
}
.navbar .navbar-right {
	margin: 0px 30px 0 0;
	overflow: hidden;
}
.navbar .navbar-right li{
	text-align:center;
}
.navbar .navbar-right li.person a{
	padding-right: 2px;
	padding-left: 2px;
}


.message-container {
}
.btn {
	font-family: 'Montserrat Bold', sans-serif;
	text-transform: uppercase;
	color: white;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background: #333;
}
.navbar-default .navbar-nav>li>a:hover {
	background: #333;
}
.navbar-default .navbar-nav>li.person>a:hover {
	background: none;
	cursor:default;
}
li.person {
	cursor: default;
	margin-left: 5px;
}
li.encryption {
	cursor: pointer;
	margin-left: 25px;
}
li.encryption.active {
	background: #333;
}
.encryption-menu {
	background: #333;
	position: absolute;
	width: 25%;
	right: 0;
	top: 59px;
	padding: 10px;
	z-index: 9999;
	color: white;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
}
.encryption-menu input {
	color: black;
}
.encryption-menu h4 {
	font-size: 1.2em;
}
.encryption-menu button {
	margin-top: 10px;
}
.encryption-menu p {
	font-size: .9em;
	line-height: 1.3em;
	margin-bottom: 10px;
}
.intro-modal-container {
	position: fixed;
	z-index: 99999;
	width: 100%;
	height: 100%;
	background: #f7931a; /* Old browsers */
	background: -moz-linear-gradient(top,  #f7931a 0%, #f48200 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7931a), color-stop(100%,#f48200)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f7931a 0%,#f48200 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f7931a 0%,#f48200 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f7931a 0%,#f48200 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f7931a 0%,#f48200 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7931a', endColorstr='#f48200',GradientType=0 ); /* IE6-9 */
	text-align: center;
	top: 55px;
}

.intro-modal {
	font-family: "Montserrat", "Arial", sans-serif;
	text-align: center;
}

.intro-modal {
	font-family: "Montserrat", "Arial", sans-serif;
	margin: 0 auto;
	color: white;
	text-align: left;
}
.intro-modal  h3 {
	margin-bottom: 0;
	padding: 0;
}
.intro-modal h4 {
	margin: 5 0 25px 0;
	padding: 0;
	color: black;
}
.intro-modal  p {
	line-height: 1.3em;
}


.intro-modal .left-side {
	
}
.intro-modal .left-side p {
	text-align: justify;
}
.intro-modal  .right-side{
	padding-top: 20px;
	padding-bottom: 5px;
	height: 100%;
	display: block;
	position: relative;
	margin-top: 8%;
}
.intro-modal input{
	margin-top: 5px;
}
.intro-modal button{
	margin-top: 5px;
}
.navbar-right {
	background:black;
}
.subnav-button {
	right: 15px;
	top: 8px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.fadein {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  opacity: 1; /* Default value but added for clarity */
}

/* Initial state when showing */
.fadein.ng-hide-remove {
  opacity: 0;
  display: block !important;
}

/* Will transition towards this state */
.fadein.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}

button.navbar-toggle {
	border: none;
	color: white;
	margin-top: 0;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.navbar .navbar-right li.person { 
    display:none;
  }
}


